<div class="coming-soon-container">
    <div class="content">
      <h1>We are Launching Soon!</h1>
      <p>Our website will be live shortly. Stay with us!</p>
  
      <div class="countdown">
        <div class="time-block">
          <span class="number" id="days">75</span>
          <span class="label">Days</span>
        </div>
        <div class="time-block">
          <span class="number" id="hours">07</span>
          <span class="label">Hours</span>
        </div>
        <div class="time-block">
          <span class="number" id="minutes">40</span>
          <span class="label">Minutes</span>
        </div>
        <div class="time-block">
          <span class="number" id="seconds">45</span>
          <span class="label">Seconds</span>
        </div>
      </div>
  
    </div>
  </div>
  